@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte: 'Poppins', serif;
    --cor-fundo: hsl(257, 40%, 49%);
    --cor-principal: #FCFDF8;
    --cor-realce: hsl(300, 69%, 71%);
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    background-image: url("https://raw.githubusercontent.com/evertonmissiagia/basic-portfolio-2/e7ad6fd88db92591440b6764f5478d1641d3e51c/assets/img/bg-desktop.svg");
}

.header {
    margin-top: 30px;
    margin-left: 30px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header__nav__item {
    font-family: var(--fonte);
    font-weight: 600;
    color: var(--cor-fundo);
    font-size: 1.2rem;
    text-decoration: none;

    background-color: var(--cor-principal);
    border-radius: 15px;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-top: 0.3%;
    padding-bottom: 0.5%;
}

.header__barra__pesquisa {
    width: 300px;
    font-size: 1.1em;
    font-family: var(--fonte);
    font-weight: 500;
    border-radius: 15px;
    color: var(--cor-fundo);
    border: 1px solid var(--cor-principal);
    padding-left: 15px;
}

.header__nav__item:hover {
    background-color: var(--cor-realce);
    color: var(--cor-principal);
}

.main {
    display: flex;
    flex-direction: row;
    gap: 70px;

    margin-top: 250px;
    margin-left: 130px;
    margin-right: 150px;
    margin-bottom: 300px;
}

.main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 13px;
}

.main__info__titulo {
    font-family: var(--fonte);
    font-weight: 800;
    color: var(--cor-principal);
    font-size: 2.5rem;
}

.main__info__texto {
    font-family: var(--fonte);
    font-weight: 500;
    color: #ECD9FF;
    font-size: 1.2rem;
}

.main__info__botao {
    font-family: var(--fonte);
    font-weight: 600;
    color: var(--cor-fundo);
    font-size: 1.2rem;
    text-decoration: none;

    background-color: var(--cor-principal);
    border-radius: 20px;
    padding: 1.6%;
}


.main__info__botao:hover {
    background-color: var(--cor-realce);
    color: var(--cor-principal);
}

.footer {
    display: flex;
    gap: 18px;
    justify-content: end;

    margin-right: 50px;
    margin-bottom: 50px;
}

.footer__icon:hover {
    filter: brightness(0) saturate(100%) invert(23%) sepia(66%) saturate(2000%) hue-rotate(285deg) contrast(94%);
}

@media (max-width: 430px) {
    body {
        background-image: url("https://raw.githubusercontent.com/evertonmissiagia/basic-portfolio-2/e7ad6fd88db92591440b6764f5478d1641d3e51c/assets/img/bg-mobile.svg");
    }

    .header {
        margin-top: 15px;
        margin-left: 15px;
    }

    .header__nav {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        gap: 20px !important;
    }

    .header__nav__item {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px !important;
        margin-top: 50px !important;
        gap: 30px;
    }

    .main__info {
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .main__info__titulo {
        font-size: 2rem;
        font-weight: 300;
    }

    .main__info__texto {
        font-size: 1rem;
        gap: 25px;
    }

    .main__info__botao {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .main__image__image {
        width: 100%;
    }

    .main__titulo__depoimentos {
        text-transform: uppercase;
        text-align: center;
        color: var(--cor-principal);
        padding-bottom: 20px;
    }

    .main__carrocel {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .swiper {
        width: 400px;
        height: 300px;
      }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-slide {
        background-color: var(--cor-principal);
        border-radius: 15px;
        padding: 10%;
        font-family: var(--fonte);
        font-size: 1.3em;
    }

    .footer {
        justify-content: center;
        margin: 20px;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url("https://raw.githubusercontent.com/evertonmissiagia/basic-portfolio-2/e7ad6fd88db92591440b6764f5478d1641d3e51c/assets/img/bg-desktop.svg");
    }

    .header {
        margin-top: 35px;
        margin-left: 20px;
    }

    .header__nav {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .header__nav__item {
        font-size: 1.1rem;
        padding: 5px 15px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        margin: 100px 40px;
        gap: 30px;
    }

    .main__info {
        align-items: center;
        text-align: center;
    }

    .main__info__titulo {
        font-size: 2.2rem;
    }

    .main__info__texto {
        font-size: 1.1rem;
    }

    .main__info__botao {
        font-size: 1.1rem;
        padding: 10px 25px;
    }

    .footer {
        justify-content: center;
        margin: 30px;
        gap: 15px;
    }
}
